<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rpg model</title>
  <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
</head>

<div class="grade">
  <div class="col1">
    <!--
    <div class="tab-menu">
      <button class="tab-btn active" data-tab="dados">Dados</button>
      <button class="tab-btn" data-tab="classes">Classes</button>
      <button class="tab-btn" data-tab="atributos">Atributos</button>
    </div>
    -->
    <div id="dadosUser" class="tab-content active">
      <!-- Conteúdo dos dadosUser -->
      <details> <!-- dadosUser -->
        <summary>Dados do Usuário:</summary>
        <article>
          <div id="dadosUser">
            <!-- Campos de dados -->
            <% if (user && user.pessoa) { %>
              <!-- Se user e user.dados estiverem definidos -->
              <% for (let dados in user.pessoa){ %>
                <div class="campos">
                  <p><%= dados %>: </p> <p id="dadosUser_<%= dados %>"><%= user.pessoa[dados] %></p>
                </div>
              <% } %>
            <% } else { %>
              <!-- Se user ou user.dados forem nulos -->
              <p>Dados do usuário não encontrados</p>
            <% } %>
          </div>
        </article>
      </details>
    </div>
    <div id="dadosAvatar" class="tab-content active">
      <!-- Conteúdo dos dadosAvatar -->
      <details> <!-- dadosAvatar -->
        <summary>dados do Avatar:</summary>
        <article>
          <div id="dadosAvatar">
            <!-- Campos de dados -->
            <% if (user && user.avatar.dados) { %>
              <!-- Se user e user.dados estiverem definidos -->
              <% for (let dados in user.avatar.dados){ %>
                <div class="campos">
                  <p><%= dados %>: </p><p id="dadosAvatar_<%= dados %>"><%= user.avatar.dados[dados] %></p>
                </div>
              <% } %>
            <% } else { %>
              <!-- Se user ou user.dados forem nulos -->
              <p>Dados do usuário não encontrados</p>
            <% } %>
          </div>
        </article>
      </details>
    </div>    
    <div id="atributos" class="tab-content">
      <!-- Conteúdo dos atributos -->
      <details> <!-- Atributos -->
        <summary>Atributos:</summary>
        <article>
          <div id="atributos">
            <!-- Campos de atributos -->
            <% if (user && user.avatar.atributos) { %>
              <!-- Se user e user.atributos estiverem definidos -->
              <% for (let attr in user.avatar.atributos) { %>
                <div class="campos">
                  <p><%= attr %>: </p><p id="atributos_<%= attr %>"><%= user.avatar.atributos[attr] %></p>
                </div>
              <% } %>
            <% } else { %>
              <!-- Se user ou user.dados forem nulos -->
              <p>Atributos do usuário não encontrados</p>
            <% } %>
          </div>
        </article>
      </details>
    </div>
  </div>
  <div class="col2">
    <div class="detalhesClasses">
      <details open>
        <summary>Classes</summary>
        <details>
          <summary>Combatente</summary>
          <p>
            Treinado para lutar com todo tipo de armas, e com a força e a
            coragem para encarar os perigos de frente.
          </p>
          <p>
            É o tipo de agente que prefere abordagens mais diretas e costuma
            atirar primeiro e perguntar depois.
          </p>
          <p>
            Do mercenário especialista em armas de fogo até o perito em
            espadas, combatentes apresentam uma gama enorme de habilidades e
            técnicas especiais que aprimoram sua eficiência no campo de
            batalha, tornando-os membros essenciais em qualquer missão de
            extermínio.
          </p>
          <p>
            Além de treinar seu corpo, o combatente também é perito em
            liderar seus aliados em batalha e em cuidar de seu equipamento
            de combate, sempre preparado para assumir a linha de frente
            quando a coisa fica feia.
          </p>
        </details>
        <details>
          <summary>Especialista</summary>
          <p>
            Um agente que confia mais em esperteza do que em força bruta. Um
            especialista se vale de conhecimento técnico, raciocínio rápido
            ou mesmo lábia para resolver mistérios e enfrentar o paranormal.
          </p>
          <p>
            Cientistas, inventores, pesquisadores e técnicos de vários tipos
            são exemplos de especialistas, que são tão variados quanto as
            áreas do conhecimento e da tecnologia.
          </p>
          <p>
            Alguns ainda preferem estudar engenharia social e se tornam
            excelentes espiões infiltrados, ou mesmo estudam técnicas
            especiais de combate como artes marciais e tiro a distância,
            aliando conhecimento técnico e habilidade.
          </p>
          <p>
            O que une todos os especialistas é sua incrível capacidade de
            aprender e improvisar usando seu intelecto e conhecimento
            avançado, que pode tirar o grupo todo dos mais diversos tipos de
            enrascadas.
          </p>
        </details>
        <details>
          <summary>Ocultista</summary>
          <p>
            O Outro Lado é misterioso, perigoso e, de certa forma,
            cativante.
          </p>
          <p>
            Muitos estudiosos das entidades se perdem em seus reinos
            obscuros em busca de poder, mas existem aqueles que visam
            compreender e dominar os mistérios paranormais para usá-los para
            combater o próprio Outro Lado.
          </p>
          <p>
            Esse tipo de agente não é apenas um conhecedor do oculto, como
            também possui talento para se conectar com elementos
            paranormais.
          </p>
          <p>
            Ao contrário da crendice popular, ocultistas não são
            intrinsecamente malignos.
          </p>
          <p>
            Seria como dizer que o cientista que inventou a pólvora é
            culpado pelo assassino que disparou o revólver.
          </p>
          <p>
            Para a Ordem, o paranormal é uma força que pode ser usada para
            os mais diversos propósitos, de acordo com a intenção de seu
            usuário.
          </p>
          <p>
            Ocultistas aplicam seu conhecimento acadêmico e suas capacidades
            de conjuração de rituais em missões para investigar e combater o
            paranormal em todas as suas formas, principalmente quando
            munição convencional não é o suficiente para lidar com a tarefa.
          </p>
        </details>
      </details>
    </div>
  </div>
</div>
</body>
</html>